/* src/styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   --scroll-color: rgb(59 130 246);
}

body {
   font-size: 2rem;
}

svg path {
   transition: all 0.3s;
}

.App {
   display: flex;
   flex-direction: column;
   height: 100vh;
   overflow: hidden;
}

.custom_scroll::-webkit-scrollbar {
   width: 7px;
   border-radius: 4px;
}

.custom_scroll::-webkit-scrollbar-track {
   background: #c5c5c5;
   width: 7px;
   border-radius: 4px;
}

.custom_scroll::-webkit-scrollbar-thumb {
   background-color: var(--scroll-color);
   border-radius: 4px;
}

/*only for firefox */
@-moz-document url-prefix() {
   .custom_scroll {
      scrollbar-color: var(--scroll-color) #c5c5c5;
      scrollbar-width: thin;
   }
}
